Repository dnd-mentee-4th/dnd-mentee-4th-6-selection, pull requests merged in 2021-02, with the labels that each got.

#34 [FIX] Eslint 적용으로 error로 표시되던 부분 수정
  frontend/.eslintrc.js
  frontend/src/App.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/goguma.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/oauth2-redirect.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/routers/common-router.tsx
Labels: documentation, frontend

#55 [FEAT] 메인페이지 헤더와 그외 페이지 헤더 컴포넌트 분할
  .DS_Store
  frontend/src/components/content-header.tsx
  frontend/src/components/main-header.tsx
  frontend/src/pages/goguma-basket.tsx
  frontend/src/pages/goguma.tsx
  frontend/src/pages/home.tsx
  frontend/src/pages/search.tsx
  frontend/src/routers/common-router.tsx
Labels: feature, frontend, major

#40 [FEAT] 게시글 관련 기능 API + 테스트 코드 작성
  backend/selection/build.gradle
  backend/selection/src/main/java/com/selection/config/SecurityConfig.java
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/domain/article/Article.java
  backend/selection/src/main/java/com/selection/domain/notice/Notice.java
  backend/selection/src/main/java/com/selection/domain/question/Question.java
  backend/selection/src/main/java/com/selection/domain/question/Questions.java
  backend/selection/src/main/java/com/selection/domain/tag/Tag.java
  backend/selection/src/main/java/com/selection/domain/tag/Tags.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleLatestResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleRequest.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/notice/PageRequest.java
  backend/selection/src/main/java/com/selection/dto/question/QuestionRequest.java
  backend/selection/src/main/java/com/selection/dto/question/QuestionResponse.java
  backend/selection/src/main/java/com/selection/dto/tag/TagRequest.java
  backend/selection/src/main/java/com/selection/dto/tag/TagResponse.java
  backend/selection/src/main/java/com/selection/service/article/ArticleService.java
  backend/selection/src/main/resources/application-local.yaml
  backend/selection/src/test/java/com/selection/controller/ArticleControllerTest.java
  backend/selection/src/test/java/com/selection/domain/question/QuestionTest.java
  backend/selection/src/test/java/com/selection/domain/tag/TagTest.java
  backend/selection/src/test/resources/application-local.yaml
Labels: backend, major

#63 [FEAT] 알림 페이지 구현
  frontend/src/components/display-time.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/pages/notifications.tsx
  frontend/src/routers/common-router.tsx
Labels: feature, frontend, major

#75 [FEAT] 유저 소셜 로그인 기능 활성화
  frontend/package.json
  frontend/src/components/main-header.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/constants.ts
  frontend/src/index.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/oauth2-redirect.tsx
  frontend/src/routers/common-router.tsx
  frontend/src/stores/userStore.ts
  frontend/yarn.lock
Labels: feature, frontend, major

#77 [FEAT] 유저 소셜 로그인 기능 라우터
  frontend/src/App.tsx
  frontend/src/routers/common-router.tsx
  frontend/src/styles/FontStyles.css
Labels: feature, frontend, major

#79 [FEAT] 소셜 로그인 ui, 네이버 로그인
  frontend/src/pages/login.tsx
  frontend/src/styles/img/icon_google_logo.jpeg
  frontend/src/styles/img/icon_kakao_logo.png
  frontend/src/styles/img/icon_naver_logo.png
  frontend/src/styles/img/icon_purpleguma_max.svg
Labels: feature, frontend, major

#82 [FEAT]투표자 도메인, API 작성(테스트 코드 포함)
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/GogumaController.java
  backend/selection/src/main/java/com/selection/domain/BaseEntity.java
  backend/selection/src/main/java/com/selection/domain/article/Article.java
  backend/selection/src/main/java/com/selection/domain/article/Choice.java
  backend/selection/src/main/java/com/selection/domain/article/Choices.java
  backend/selection/src/main/java/com/selection/domain/article/Goguma.java
  backend/selection/src/main/java/com/selection/domain/article/Vote.java
  backend/selection/src/main/java/com/selection/domain/article/Votes.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleRequest.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/choice/ChoiceRequest.java
  backend/selection/src/main/java/com/selection/dto/choice/ChoiceResponse.java
  backend/selection/src/main/java/com/selection/repository/VoteRepository.java
  backend/selection/src/main/java/com/selection/service/article/ArticleService.java
  backend/selection/src/main/java/com/selection/service/article/GogumaService.java
  backend/selection/src/main/java/com/selection/validation/ChoicesConstraintValidator.java
  backend/selection/src/test/java/com/selection/controller/ArticleControllerTest.java
  backend/selection/src/test/java/com/selection/controller/GogumaControllerTest.java
  backend/selection/src/test/java/com/selection/domain/article/ArticleTest.java
  backend/selection/src/test/java/com/selection/domain/article/VoteTest.java
Labels: backend, feature, major, refactor

#84 [FEAT] Swagger 도입
  backend/selection/build.gradle
  backend/selection/src/main/java/com/selection/config/SecurityConfig.java
  backend/selection/src/main/java/com/selection/config/SwaggerConfig.java
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/GogumaController.java
  backend/selection/src/main/java/com/selection/controller/UserController.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleRequest.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/choice/ChoiceRequest.java
  backend/selection/src/main/java/com/selection/dto/choice/ChoiceResponse.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaRequest.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaResponse.java
  backend/selection/src/main/java/com/selection/service/user/UserService.java
Labels: backend, feature, major

#86 fix: 소셜 로그인 연동 부분 복구
  backend/selection/src/main/java/com/selection/controller/UserController.java
Labels: backend, bug, critical, deploy

#88 fix: token 발급 경로수정, OAuth2 컨트롤러 분리
  backend/selection/src/main/java/com/selection/controller/OAuth2Controller.java
  backend/selection/src/main/java/com/selection/controller/UserController.java
Labels: backend, bug, major

#91 feat: 배포 설정
  backend/selection/.gitignore
  backend/selection/build.gradle
  backend/selection/src/main/java/com/selection/SelectionApplication.java
  backend/selection/src/main/resources/application.yaml
Labels: backend, deploy, feature, major

#95 [FEAT]Sentry 설정
  backend/selection/build.gradle
  backend/selection/src/main/resources/logback-spring.xml
Labels: backend, deploy, feature, major

#97 [FEAT] 마이페이지, 사이드바 ui 구현
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/main-header.tsx
  frontend/src/components/mypage-header.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/constants.ts
  frontend/src/pages/my-page.tsx
  frontend/src/pages/notifications.tsx
  frontend/src/routers/common-router.tsx
  frontend/src/styles/img/icon_pencil_sm.png
  frontend/yarn.lock
Labels: feature, frontend, major

#101 [FEAT] 고구마는.. 페이지
  frontend/src/pages/goguma-info.tsx
  frontend/src/pages/my-page.tsx
  frontend/src/routers/common-router.tsx
Labels: feature, frontend, major

#104 feat, refactor: 소셜 로그인 리팩토링, 카카오 로그인 추가
  backend/selection/src/main/java/com/selection/config/AppProperties.java
  backend/selection/src/main/java/com/selection/config/SecurityConfig.java
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/GogumaController.java
  backend/selection/src/main/java/com/selection/controller/NoticeController.java
  backend/selection/src/main/java/com/selection/controller/UserController.java
  backend/selection/src/main/java/com/selection/domain/AuthProvider.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleRepository.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
  backend/selection/src/main/java/com/selection/domain/article/ChoiceRepository.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaRepository.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaService.java
  backend/selection/src/main/java/com/selection/domain/article/VoteRepository.java
  backend/selection/src/main/java/com/selection/domain/notice/NoticeReposiotry.java
  backend/selection/src/main/java/com/selection/domain/notice/NoticeService.java
  backend/selection/src/main/java/com/selection/domain/user/CurrentUser.java
  backend/selection/src/main/java/com/selection/domain/user/CustomUserDetailsService.java
  backend/selection/src/main/java/com/selection/domain/user/Role.java
  backend/selection/src/main/java/com/selection/domain/user/User.java
  backend/selection/src/main/java/com/selection/domain/user/UserRepository.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/ApiResponse.java
  backend/selection/src/main/java/com/selection/dto/AuthResponse.java
  backend/selection/src/main/java/com/selection/dto/LoginRequest.java
  backend/selection/src/main/java/com/selection/dto/MyInfoResponse.java
  backend/selection/src/main/java/com/selection/dto/OAuthAttributes.java
  backend/selection/src/main/java/com/selection/exception/OAuth2AuthenticationProcessingException.java
  backend/selection/src/main/java/com/selection/security/oauth/AuthProvider.java
  backend/selection/src/main/java/com/selection/security/oauth/CustomOAuth2UserService.java
  backend/selection/src/main/java/com/selection/security/oauth/OAuth2AuthenticationSuccessHandler.java
  backend/selection/src/main/java/com/selection/security/oauth/UserPrincipal.java
  backend/selection/src/main/java/com/selection/security/oauth/user/GoogleOAuth2UserInfo.java
  backend/selection/src/main/java/com/selection/security/oauth/user/NaverOAuth2UserInfo.java
  backend/selection/src/main/java/com/selection/security/oauth/user/OAuth2UserInfo.java
  backend/selection/src/main/java/com/selection/security/oauth/user/OAuth2UserInfoFactory.java
  backend/selection/src/main/java/com/selection/security/token/TokenAuthenticationFilter.java
  backend/selection/src/main/java/com/selection/security/token/TokenProvider.java
  backend/selection/src/main/java/com/selection/service/user/UserService.java
  backend/selection/src/test/java/com/selection/controller/ArticleControllerTest.java
  backend/selection/src/test/java/com/selection/controller/GogumaControllerTest.java
Labels: backend, feature, major, refactor

#110 [FEAT] 내가 쓴 글 API 작성
  backend/selection/src/main/java/com/selection/config/AppProperties.java
  backend/selection/src/main/java/com/selection/config/SecurityConfig.java
  backend/selection/src/main/java/com/selection/config/WebMvcConfig.java
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/NoticeController.java
  backend/selection/src/main/java/com/selection/controller/UserController.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleRepository.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
  backend/selection/src/main/java/com/selection/domain/article/Choice.java
  backend/selection/src/main/java/com/selection/domain/article/ChoiceRepository.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaRepository.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaService.java
  backend/selection/src/main/java/com/selection/domain/article/Gogumas.java
  backend/selection/src/main/java/com/selection/domain/article/Vote.java
  backend/selection/src/main/java/com/selection/domain/article/VoteRepository.java
  backend/selection/src/main/java/com/selection/domain/notice/Notice.java
  backend/selection/src/main/java/com/selection/domain/notice/NoticeReposiotry.java
  backend/selection/src/main/java/com/selection/domain/notice/NoticeService.java
  backend/selection/src/main/java/com/selection/domain/user/CurrentUser.java
  backend/selection/src/main/java/com/selection/domain/user/CustomUserDetailsService.java
  backend/selection/src/main/java/com/selection/domain/user/LoginUser.java
  backend/selection/src/main/java/com/selection/domain/user/Role.java
  backend/selection/src/main/java/com/selection/domain/user/User.java
  backend/selection/src/main/java/com/selection/domain/user/UserRepository.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/OAuthAttributes.java
  backend/selection/src/main/java/com/selection/dto/PageRequest.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleLatestResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleRequest.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryProjection.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryResponse.java
  backend/selection/src/main/java/com/selection/dto/choice/ChoiceRequest.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaRequest.java
  backend/selection/src/main/java/com/selection/dto/goguma/HotGogumaType.java
  backend/selection/src/main/java/com/selection/dto/notice/NoticeResponse.java
  backend/selection/src/main/java/com/selection/exception/BadRequestException.java
  backend/selection/src/main/java/com/selection/exception/ResourceNotFoundException.java
  backend/selection/src/main/java/com/selection/security/RestAuthenticationEntryPoint.java
  backend/selection/src/main/java/com/selection/security/oauth/AuthProvider.java
  backend/selection/src/main/java/com/selection/security/oauth/CustomOAuth2UserService.java
  backend/selection/src/main/java/com/selection/security/oauth/HttpCookieOAuth2AuthorizationRequestRepository.java
  backend/selection/src/main/java/com/selection/security/oauth/LoginUserArgumentResolver.java
  backend/selection/src/main/java/com/selection/security/oauth/OAuth2AuthenticationFailureHandler.java
  backend/selection/src/main/java/com/selection/security/oauth/OAuth2AuthenticationSuccessHandler.java
  backend/selection/src/main/java/com/selection/security/oauth/UserPrincipal.java
  backend/selection/src/main/java/com/selection/security/oauth/package-info.java
  backend/selection/src/main/java/com/selection/security/token/TokenAuthenticationFilter.java
  backend/selection/src/main/java/com/selection/security/token/TokenProvider.java
  backend/selection/src/main/java/com/selection/security/token/package-info.java
  backend/selection/src/main/java/com/selection/validation/ChoicesConstraint.java
Labels: backend, feature, major

#111 [FEAT] 인기 고구마 API 작업
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/HotArticleController.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleRepository.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
Labels: backend, feature, major

#113 [FIX]Swagger Annoations, Swagger Models Version Downgrade
  backend/selection/build.gradle
Labels: backend, bug, major

#116 [FIX]Swagger Annoations, Swagger Models Import
  backend/selection/build.gradle
Labels: backend, bug, major

#119 feat: 알림 전송 로직, 알림 조회 API 작성
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/GogumaController.java
  backend/selection/src/main/java/com/selection/controller/UserController.java
  backend/selection/src/main/java/com/selection/domain/article/Choices.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaService.java
  backend/selection/src/main/java/com/selection/domain/notification/Notification.java
  backend/selection/src/main/java/com/selection/domain/notification/NotificationRepository.java
  backend/selection/src/main/java/com/selection/domain/notification/NotificationService.java
  backend/selection/src/main/java/com/selection/domain/user/User.java
  backend/selection/src/main/java/com/selection/domain/user/UserRepository.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaResponse.java
  backend/selection/src/main/java/com/selection/dto/notification/NotificationResponse.java
Labels: backend, feature, major

#122 [BUG]고구마 등록 테스트 코드 의존성 이슈, 보류
  backend/selection/src/test/java/com/selection/controller/GogumaControllerTest.java
Labels: backend, bug, minor

#118 [FEAT] 게시글 보기 페이지
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/content-header.tsx
  frontend/src/components/emoji.tsx
  frontend/src/pages/goguma-list-honor.tsx
  frontend/src/pages/goguma.tsx
  frontend/src/styles/img/basket_comment.svg
  frontend/src/styles/img/icons_linkcopy.svg
  frontend/src/styles/img/watercolor-paper-texture.png
  frontend/yarn.lock
Labels: feature, frontend, major

#124 [FEAT] 인기글 최신글 명예글 API 적용
  frontend/src/components/goguma-card.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/pages/goguma-list-honor.tsx
  frontend/src/pages/goguma-list-popular.tsx
  frontend/src/pages/goguma-list-resent.tsx
Labels: feature, frontend, major

#127 [FEAT] 알림 페이지 재추가
  frontend/src/pages/notifications.tsx
  frontend/src/routers/common-router.tsx
Labels: feature, frontend, major

#129 [FEAT] API 로그인 연동
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/GogumaController.java
  backend/selection/src/main/java/com/selection/domain/article/Article.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleRepository.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
  backend/selection/src/main/java/com/selection/domain/article/Choice.java
  backend/selection/src/main/java/com/selection/domain/article/Choices.java
  backend/selection/src/main/java/com/selection/domain/article/Goguma.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaService.java
  backend/selection/src/main/java/com/selection/domain/article/Gogumas.java
  backend/selection/src/main/java/com/selection/domain/article/Vote.java
  backend/selection/src/main/java/com/selection/domain/article/VoteRepository.java
  backend/selection/src/main/java/com/selection/domain/article/Votes.java
  backend/selection/src/main/java/com/selection/domain/notification/Notification.java
  backend/selection/src/main/java/com/selection/domain/notification/NotificationRepository.java
  backend/selection/src/main/java/com/selection/domain/notification/NotificationService.java
  backend/selection/src/main/java/com/selection/domain/user/CustomUserDetailsService.java
  backend/selection/src/main/java/com/selection/domain/user/User.java
  backend/selection/src/main/java/com/selection/domain/user/UserRepository.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/OAuthAttributes.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleRequest.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryProjection.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryResponse.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaRequest.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaResponse.java
  backend/selection/src/main/java/com/selection/dto/notification/NotificationResponse.java
  backend/selection/src/main/java/com/selection/security/oauth/CustomOAuth2UserService.java
  backend/selection/src/main/java/com/selection/security/oauth/UserPrincipal.java
  backend/selection/src/test/java/com/selection/controller/ArticleControllerTest.java
  backend/selection/src/test/java/com/selection/controller/GogumaControllerTest.java
  backend/selection/src/test/java/com/selection/domain/article/ArticleTest.java
  backend/selection/src/test/java/com/selection/domain/article/ChoiceTest.java
  backend/selection/src/test/java/com/selection/domain/article/GogumaTest.java
  backend/selection/src/test/java/com/selection/domain/article/VoteTest.java
Labels: backend, feature, major

#131 [FEAT] 사이드바 notification 링크 버튼
  frontend/src/components/sidebar.tsx
Labels: feature, frontend, major

#135 [FEAT] 내 정보 조회 API
  backend/selection/src/main/java/com/selection/controller/UserController.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleRepository.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
  backend/selection/src/main/java/com/selection/domain/user/User.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/OAuthAttributes.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleLatestResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/user/ProfileResponse.java
  backend/selection/src/main/java/com/selection/security/oauth/CustomOAuth2UserService.java
Labels: backend, feature, major

#136 [FEAT] 내가 쓴 글 리스트 페이지 API 적용
  frontend/src/components/goguma-card.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/my-page.tsx
  frontend/src/routers/common-router.tsx
Labels: feature, frontend, major

#139 [REFACTOR] API 전역 에러처리
  backend/selection/src/main/java/com/selection/SelectionApplication.java
  backend/selection/src/main/java/com/selection/advice/ExceptionAdvice.java
  backend/selection/src/main/java/com/selection/advice/exception/ArticleAccessException.java
  backend/selection/src/main/java/com/selection/advice/exception/ArticleNotFoundException.java
  backend/selection/src/main/java/com/selection/advice/exception/ChoiceNotFoundException.java
  backend/selection/src/main/java/com/selection/advice/exception/GogumaAccessException.java
  backend/selection/src/main/java/com/selection/advice/exception/GogumaNotFoundException.java
  backend/selection/src/main/java/com/selection/advice/exception/NotificationNotFoundException.java
  backend/selection/src/main/java/com/selection/advice/exception/UnAuthorizedRedirectUriException.java
  backend/selection/src/main/java/com/selection/advice/exception/UnAuthorizedTokenException.java
  backend/selection/src/main/java/com/selection/advice/exception/UserNotFoundException.java
  backend/selection/src/main/java/com/selection/config/SwaggerConfig.java
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/controller/GogumaController.java
  backend/selection/src/main/java/com/selection/controller/HotArticleController.java
  backend/selection/src/main/java/com/selection/controller/UserController.java
  backend/selection/src/main/java/com/selection/domain/article/Article.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
  backend/selection/src/main/java/com/selection/domain/article/Choices.java
  backend/selection/src/main/java/com/selection/domain/article/Goguma.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaRepository.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaService.java
  backend/selection/src/main/java/com/selection/domain/article/Gogumas.java
  backend/selection/src/main/java/com/selection/domain/notification/NotificationService.java
  backend/selection/src/main/java/com/selection/domain/user/CustomUserDetailsService.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/ErrorResponse.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaResponse.java
  backend/selection/src/main/java/com/selection/exception/BadRequestException.java
  backend/selection/src/main/java/com/selection/security/RestAuthenticationEntryPoint.java
  backend/selection/src/main/java/com/selection/security/oauth/AuthProvider.java
  backend/selection/src/main/java/com/selection/security/oauth/CustomOAuth2UserService.java
  backend/selection/src/main/java/com/selection/security/oauth/LoginUserArgumentResolver.java
  backend/selection/src/main/java/com/selection/security/oauth/OAuth2AuthenticationSuccessHandler.java
  backend/selection/src/main/java/com/selection/security/token/TokenAuthenticationFilter.java
  backend/selection/src/main/java/com/selection/security/token/TokenProvider.java
  backend/selection/src/main/resources/logback-spring.xml
Labels: backend, feature, major

#138 [FEAT] 고구마 리스트 페이지 링크 기능
  frontend/src/components/sidebar.tsx
  frontend/src/pages/goguma-list-honor.tsx
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/goguma-list-popular.tsx
Labels: feature, frontend, major

#141 [BUG] 게시글 조회 버그 픽스
  backend/selection/src/main/java/com/selection/SelectionApplication.java
  backend/selection/src/main/java/com/selection/advice/exception/UserNotFoundException.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryResponse.java
  backend/selection/src/test/java/com/selection/SelectionApplicationTests.java
Labels: backend, bug, major

#143 [REFACTOR]인기글 API 필드 변경
  backend/selection/src/main/java/com/selection/domain/article/ArticleRepository.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryProjection.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryResponse.java
Labels: backend, major, refactor

#147 [REFACTOR]게시글 조회 내용 짤림 이슈 수정
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryResponse.java
Labels: backend, major, refactor

#145 [FEAT] 게시글 조회 수정 삭제 api 연동
  frontend/src/pages/goguma.tsx
  frontend/src/routers/common-router.tsx
Labels: feature, frontend, major

#149 [REFACTOR] 고구마 리스트 작성자 변수 수정 #148
  frontend/src/components/sidebar.tsx
  frontend/src/pages/goguma-list-honor.tsx
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/goguma-list-popular.tsx
  frontend/src/pages/goguma-list-resent.tsx
  frontend/src/pages/notifications.tsx
  frontend/src/styles/img/icon_alarm.svg
Labels: frontend, major, refactor

#152 [FEAT] 고구마 쪽지 페이지
  frontend/src/pages/goguma-gogumas.tsx
  frontend/src/pages/goguma.tsx
  frontend/src/routers/common-router.tsx
  frontend/src/styles/img/yellow_backImg.svg
Labels: feature, frontend, major

#158 [REFACTOR] getUser error 시 토큰이 삭제되는 부분 수정
  frontend/src/components/sidebar.tsx
  frontend/src/pages/goguma-gogumas.tsx
  frontend/src/pages/my-page.tsx
  frontend/src/pages/notifications.tsx
  frontend/src/routers/common-router.tsx
Labels: frontend, major, refactor

#160 [FEAT] 고구마 쪽지 보내기 기능
  frontend/src/components/emoji.tsx
  frontend/src/pages/goguma-gogumas.tsx
  frontend/src/pages/goguma-list-honor.tsx
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/goguma-list-popular.tsx
  frontend/src/pages/goguma.tsx
Labels: feature, frontend, major

#162 [REFACTOR] 일부 필드명 변경 및 에러 수정
  backend/selection/src/main/java/com/selection/advice/ExceptionAdvice.java
  backend/selection/src/main/java/com/selection/controller/OAuth2Controller.java
  backend/selection/src/main/java/com/selection/domain/article/GogumaType.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleResponse.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSummaryResponse.java
  backend/selection/src/main/java/com/selection/dto/choice/ChoiceResponse.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaResponse.java
  backend/selection/src/main/java/com/selection/dto/goguma/GogumaSummaryResponse.java
  backend/selection/src/main/java/com/selection/dto/notification/NotificationResponse.java
  backend/selection/src/main/resources/application-local.yaml
Labels: backend, major, refactor

#164 [FEAT] 고구마 바구니 페이지 api 연동
  frontend/src/components/emoji.tsx
  frontend/src/pages/goguma-basket.tsx
  frontend/src/pages/goguma-gogumas.tsx
  frontend/src/pages/goguma-list-honor.tsx
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/goguma-list-popular.tsx
  frontend/src/pages/goguma-list-resent.tsx
  frontend/src/pages/goguma.tsx
  frontend/src/pages/notifications.tsx
  frontend/src/routers/common-router.tsx
  frontend/src/styles/img/icon_guma_box_empty.svg
  frontend/src/styles/img/icon_guma_box_middle.svg
Labels: feature, frontend, major

#167 [REFACTOR] 프론트엔드 Css 작업
  frontend/src/components/content-header.tsx
  frontend/src/components/emoji.tsx
  frontend/src/components/goguma-card.tsx
  frontend/src/components/sidebar.tsx
  frontend/src/pages/goguma-basket.tsx
  frontend/src/pages/goguma-gogumas.tsx
  frontend/src/pages/goguma-info.tsx
  frontend/src/pages/goguma-list-honor.tsx
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/goguma-list-popular.tsx
  frontend/src/pages/goguma-list-resent.tsx
  frontend/src/pages/goguma.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/my-page.tsx
  frontend/src/pages/notifications.tsx
Labels: frontend, refactor

#171 [FEAT] 알림 API에 게시글 번호 추가
  backend/selection/src/main/java/com/selection/domain/notification/NotificationService.java
  backend/selection/src/main/java/com/selection/dto/notification/NotificationResponse.java
Labels: backend, feature, major

#173 [FEAT]닉네임 변경 API
  backend/selection/src/main/java/com/selection/controller/UserController.java
  backend/selection/src/main/java/com/selection/domain/user/User.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/user/ProfileRequest.java
Labels: backend, feature, major

#176 [FEAT] 마이페이지 닉네임 변경 기능
  frontend/src/pages/my-page.tsx
Labels: feature, frontend, major

#178 [FEAT] 알림페이지 고구마 링크 기능
  frontend/src/pages/notifications.tsx
Labels: feature, frontend, major

#181 [FEAT] 메인페이지 좌우 슬라이더 이벤트
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/pages/home.tsx
  frontend/yarn.lock
Labels: feature, frontend, major

#182 [FEAT] 게시글 검색 API
  backend/selection/src/main/java/com/selection/controller/ArticleController.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleRepository.java
  backend/selection/src/main/java/com/selection/domain/article/ArticleService.java
  backend/selection/src/main/java/com/selection/domain/user/UserService.java
  backend/selection/src/main/java/com/selection/dto/article/ArticleSearchResponse.java
Labels: backend, feature, major

#184 [FIX] 고구마 삭제부분 버그 수정
  backend/selection/src/main/java/com/selection/domain/article/Gogumas.java
Labels: backend, bug, major

#187 [FEAT] 검색 페이지 api 연동
  frontend/src/pages/search.tsx
Labels: feature, frontend, major

#189 [FEAT] 알림페이지 알림없을시 문구
  frontend/src/pages/notifications.tsx
Labels: feature, frontend, minor

#193 [REFACTOR] 소셜 로그인 이름이 없을 경우 예외 처리
  backend/selection/src/main/java/com/selection/dto/OAuthAttributes.java
Labels: backend, major, refactor

#194 refactor: front url
  frontend/src/constants.ts
Labels: frontend, refactor

#196 fix: fix redirect
  frontend/src/components/content-header.tsx
  frontend/src/pages/goguma-gogumas.tsx
  frontend/src/pages/goguma.tsx
Labels: frontend, refactor

#197 fix: goguma delete error
  frontend/src/pages/goguma.tsx
Labels: frontend, refactor

#198 fix: basket error
  frontend/src/pages/goguma.tsx
Labels: frontend, refactor

#200 [REFACTOR] 고구마 조회시 읽음 기준 변경
  backend/selection/src/main/java/com/selection/domain/article/GogumaService.java
Labels: backend, major, refactor

#202 fix: link error
  frontend/src/App.tsx
  frontend/src/components/content-header.tsx
  frontend/src/pages/goguma-basket.tsx
  frontend/src/pages/goguma-gogumas.tsx
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/goguma.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/my-page.tsx
  frontend/src/pages/notifications.tsx
  frontend/src/pages/oauth2-redirect.tsx
  frontend/src/routers/common-router.tsx
Labels: frontend, refactor

#203 fix: List Page Token Error
  frontend/src/pages/goguma-list-me.tsx
  frontend/src/pages/notifications.tsx
Labels: frontend, refactor

#206 feat: ask button hidden visible
  frontend/src/pages/home.tsx
  frontend/src/routers/common-router.tsx
Labels: feature, frontend, major

#207 fix: notification error
  frontend/src/pages/notifications.tsx
Labels: frontend, refactor

#208 refactor: update information
  frontend/src/pages/goguma-info.tsx
Labels: frontend, refactor
